# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
src-tauri/target
.vscode
.idea
.DS_Store
*.local
*.env
*.env.*
coverage
coverage-final.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
